@page "/counter"
@using RTTWeb.Data
@inject TelemetryService telem

<h1>Counter</h1>

<p>Current count: @telem.tm.VehicleRPM.RPM</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    protected override void OnInitialized()
    {
        telem.ModelChanged += OnModelChange;
        base.OnInitialized();
    }

    public void OnModelChange()
    {
        this.StateHasChanged();
    }

    private void IncrementCount()
    {
        this.StateHasChanged();
    }
}
