@page "/telemetry"

<div>
    <ul style="list-style:none; display:inline">
        <li><RTTWeb.Pages.Partials.RPM /></li>
        <li><RTTWeb.Pages.Partials.Accelerator /></li>
        <li><RTTWeb.Pages.Partials.Brake /></li>
        <li><RTTWeb.Pages.Partials.VehicleSpeed /></li>
        <li><RTTWeb.Pages.Partials.WheelSpeed /></li>
        <li><RTTWeb.Pages.Partials.Gear /></li>
        <li><RTTWeb.Pages.Partials.Steering /></li>
    </ul>
</div>
